<mat-tab-group mat-align-tabs=center>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">home</mat-icon>
      Home
    </ng-template>
    <app-home></app-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">settings</mat-icon>
      Setup
    </ng-template>
    <app-settings></app-settings>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">history</mat-icon>
      History
    </ng-template>
    COOMING SOON
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">calendar_today</mat-icon>
      Calendar
    </ng-template>
    COOMING SOON
  </mat-tab>
</mat-tab-group>